header {
  padding: 24px 0 230px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(218, 161, 161, 0.8)),
      to(rgba(252, 227, 138, 0.8))
    ),
    url(../IMG/banner.png);
  background: -webkit-linear-gradient(
      top,
      rgba(218, 161, 161, 0.8) 0%,
      rgba(252, 227, 138, 0.8) 100%
    ),
    url(../IMG/banner.png);
  background: -o-linear-gradient(
      top,
      rgba(218, 161, 161, 0.8) 0%,
      rgba(252, 227, 138, 0.8) 100%
    ),
    url(../IMG/banner.png);
  background: linear-gradient(
      to bottom,
      rgba(218, 161, 161, 0.8) 0%,
      rgba(252, 227, 138, 0.8) 100%
    ),
    url(../IMG/banner.png);
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 1212px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2px;
  padding-left: 2px;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 166px;
}
.menu-buttons {
}
.menu {
  display: flex;
  justify-content: center;
}
.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-menu__item {
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.site-navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
.menu__button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 6px;
  width: 36px;
  height: 16px;
}
.menu__button svg {
  display: block;
  fill: #ffffff;
  width: 16px;
  height: 16px;
}

.menu__button:hover svg {
  fill: #fce38a;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.nav-menu__item:hover .site-navigation__link {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  color: #fce38a;
}
.site-navigation__link::after {
  content: "";
  background: rgb(149, 225, 211);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: -12px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.nav-menu__item:hover .site-navigation__link::after {
  background: #fce38a;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 1;
}
.header__subtitle {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #ffffff;
  margin: 0 0 34px;
}
.header__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 150px;
  line-height: 0.94;
  color: #ffffff;
  margin: 0 auto 110px;
  max-width: 820px;
}
.button {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  border: solid #ffffff 3px;
  width: 160px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.title {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 80px 0;
  line-height: 1.5;
}
.subtitle {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  margin: 0 0 10px 0;
}
.title::after {
  content: "";
  background: rgb(243, 129, 129);
  height: 3px;
  width: 60px;
  position: absolute;
  left: 50%;
  bottom: -40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0;
  min-height: 300px;
}
.features__item {
  list-style-type: none;
  width: 376px;
  padding-left: 66px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.features__item::before {
  content: "";
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.icon1::before {
  background-image: url(../IMG/icons/service1.svg);
}
.icon2::before {
  background-image: url(../IMG/icons/service2.svg);
}
.icon3::before {
  background-image: url(../IMG/icons/service3.svg);
}
.icon4::before {
  background-image: url(../IMG/icons/service4.svg);
}
.icon5::before {
  background-image: url(../IMG/icons/service5.svg);
}
.icon6::before {
  background-image: url(../IMG/icons/service6.svg);
}
.features__item-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  margin: 0 0 20px 0;
}
.features__item-text {
  margin: 0;
  font-size: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
}
.text {
  text-align: center;
  margin: 0 auto 90px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  max-width: 960px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.team-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.team-galery__card {
  width: 380px;
  cursor: pointer;
  position: relative;
}
.team-galery__card-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  text-align: center;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.team-galery__card-occupation {
  font-size: 15px;
  color: #999999;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}
.back {
  width: 380px;
  height: 470px;
  background-color: rgb(149, 225, 211);
  margin-bottom: 30px;
}
img {
  display: block;
}
.team-galery__card-photo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: 470px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(243, 129, 129, 0.8)),
    to(rgba(252, 227, 138, 0.8))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(243, 129, 129, 0.8) 0%,
    rgba(252, 227, 138, 0.8) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(243, 129, 129, 0.8) 0%,
    rgba(252, 227, 138, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(243, 129, 129, 0.8) 0%,
    rgba(252, 227, 138, 0.8) 100%
  );
  opacity: 0;
}
.team-galery__card-photo {
  position: absolute;
  top: 0;
  left: 0;
}
.team-galery__card-photo:hover .socials {
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.team-galery__card-photo:hover {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.team-galery__card-photo:hover::after {
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.socials {
  margin: 0;
  padding: 0;
  width: 230px;
  height: 60px;
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 210px;
  z-index: 1;
}
.social__link {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  background-color: rgba(252, 227, 138);
  margin-right: 2px;
  text-align: center;
}
.social__icon {
  fill: rgb(243, 129, 129);
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 15px;
}
.social__link:last-child {
  margin-right: 0;
}
.social__link:hover .social__icon {
  fill: #ffffff;
}
.social__link:hover {
  background-color: rgb(243, 129, 129);
}
main {
  padding: 90px 0;
}
footer {
  padding: 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  border-top: #cccccc 1px solid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__copyright {
  margin: 0;
  letter-spacing: -0.07em;
}
.footer__autor {
  color: #f38181;
}

.subscribe-email {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #cccccc;
  vertical-align: middle;
  width: 230px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  padding: 0 12px;
  min-height: 40px;
}
.subscribe-button {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  background-color: rgba(149, 225, 211);
  border: none;
  width: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
  min-height: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  header {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(218, 161, 161, 0.8)),
        to(rgba(252, 227, 138, 0.8))
      ),
      url(../IMG/banner@2x.png);
    background: -webkit-linear-gradient(
        top,
        rgba(218, 161, 161, 0.8) 0%,
        rgba(252, 227, 138, 0.8) 100%
      ),
      url(../IMG/banner@2x.png);
    background: -o-linear-gradient(
        top,
        rgba(218, 161, 161, 0.8) 0%,
        rgba(252, 227, 138, 0.8) 100%
      ),
      url(../IMG/banner@2x.png);
    background: linear-gradient(
        to bottom,
        rgba(218, 161, 161, 0.8) 0%,
        rgba(252, 227, 138, 0.8) 100%
      ),
      url(../IMG/banner@2x.png);
    background-position: center;
  }
}
@media (max-width: 1212px) {
  nav,
  .nav-menu,
  .menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  nav {
    margin-bottom: 60px;
  }
  .main-nav {
    margin-bottom: 16px;
  }
  .team-galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .team-galery__card-occupation {
    padding-bottom: 20px;
  }
  .header__subtitle {
    font-size: 36px;
    margin: 0 0 34px;
  }
  .header__title {
    font-size: 48px;
    margin: 0 auto 60px;
  }
  header {
    padding-bottom: 60px;
  }
}
@media (max-width: 764px) {
  nav,
  .nav-menu,
  .menu {
    justify-content: center;
  }
  .logo {
    margin-bottom: 16px;
  }
  .features-list {
    min-height: 500px;
  }
  .nav-menu__item {
    padding-bottom: 12px;
  }
  .site-navigation__link {
    font-size: 18px;
  }
  .nav-menu__item:hover .site-navigation__link::after {
    display: none;
  }
  .team-galery__card-photo:hover {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .title,
  .text {
    margin-bottom: 40px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100px;
  }
}
@media (max-width: 380px) {
  .subscribe-email {
    width: 150px;
  }
  .back,
  .team-galery__card-photo,
  .team-galery__card-img {
    width: 320px;
    height: 380px;
  }
  .team-galery__card {
    width: 320px;
  }
  .team-galery__card-photo::after {
    width: 320px;
    height: 380px;
  }
}
